[Unit]
Description=lucky Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/cache/lucky/lucky
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
